html,body {
  background-color: #afc9d6;
  padding-top: 10px;

}

#cabecera_1 {
    font-size: 36px;
    color: #407a7a;
    text-align: center;
    font-family: Comic sans ms, Courier, Verdana, Arial, sans-serif;
    font-style:italic;
    border-bottom: solid;
    margin-bottom: 0px;
    padding-bottom:0px;
    margin-top: 0px;
    border-top: 0px;
    padding-top: 0px;
}

.row {
  margin-top: 1px;

}


.col-sm-3 {
    background-color: #f2f7f7;
}

.col-sm-9 {
    background-color: #cdeef2;
}


#espacios {font-size: 12px;}



.tabla_1{
  padding: 1000px;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #f4bb0e;
}

td {
    background-color: #f7e89e;
}
