#index_1 {
    font-size: 36px;
    color: #d9f9f9;
    text-align: center;
}

#espacios {font-size: 12px;}

html,body {
  background-color: #d9f9f9;
  padding: 50px;
}

.tabla_1{
  padding: 1000px;
}

table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: lightgray;
}

td {
    background-color: #43f946;
}
